<!-- formulario clave, ya que contiene la parte mas profunda del aplicativo, todo esta validado, podemos no crear una direccion y se mostrara como N/A 
 a la espera, de que luego se agreguen direcciones, ademas que reutilizo el formulario de crear y editar, ya que contienen los mismos campos
 a traves de un ternario -->

<div class="form-container">
    <h2 class="form-title">{{ user.id ? 'Editar usuario' : 'Crear usuario' }}</h2>
    <div class="form-scrollable-content">
        <form #userForm="ngForm" (ngSubmit)="saveUser()">
            <label class="form-label">Nombre Completo</label>
            <input type="text" name="name" [(ngModel)]="user.name" class="form-input" required minlength="3"
                pattern="^[a-zA-ZáéíóúÁÉÍÓÚñÑ\s-]+$" #name="ngModel" />
            <app-form-validation [form]="userForm" [model]="name" [errorMessages]="{
          required: 'El nombre es requerido.',
          minlength: 'El nombre debe tener al menos 3 caracteres.',
          pattern: 'El nombre no puede contener números.'
        }"></app-form-validation>

            <label class="form-label">Email</label>
            <input type="email" name="email" [(ngModel)]="user.email" class="form-input" required email
                #email="ngModel" />
            <app-form-validation [form]="userForm" [model]="email" [errorMessages]="{
          required: 'El email es requerido.',
          email: 'El email no es válido.'
        }"></app-form-validation>

            <label class="form-label">Fecha Nacimiento</label>
            <input type="date" name="birthdate" [(ngModel)]="user.birthdate" class="form-input" required
                #birthdate="ngModel" [max]="maxDate" />
            <p *ngIf="user.birthdate">Fecha seleccionada: {{ formatDate(user.birthdate) }}</p>
            <app-form-validation [form]="userForm" [model]="birthdate" [errorMessages]="{
          required: 'La fecha de nacimiento es requerida.',
          max: 'La fecha de nacimiento no puede ser superior a la fecha actual.'
        }"></app-form-validation>

            <div class="form-actions">
                <button type="button" class="btn-cancel" (click)="closeModal()">Cancelar</button>
                <button type="submit" class="btn-save" [disabled]="userForm.invalid">Guardar</button>
            </div>
        </form>

        <div class="address-section">
            <h3 class="address-title">Direcciones</h3>
            <button (click)="openAddressForm()" class="btn-add-address">Añadir direcciones</button>

            <table class="address-table">
                <thead>
                    <tr>
                        <th class="table-header">Direccion</th>
                        <th class="table-header">Principal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let address of temporaryAddresses">
                        <td class="table-cell">{{ address.address }}</td>
                        <td class="table-cell">
                            <input type="radio" name="primaryAddress" [value]="address.id"
                                (change)="setPrimaryAddress(address.id)" [checked]="address.isPrimary">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>